.site-header__contact-list {
    display: flex;
    align-items: baseline;
    height: 100%;
  }
  
  .site-header__contact-list {
    margin-left: auto;
  }
  
  .contact-list__item {
    margin-left: 50px;
    &:first-of-type {
        margin-left: 0px;
      }
  }

  .contact-list__link {
    align-content: center;
    display: inline-flex;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
  
    transition: color $transition-time $cubic-default;

    &:hover, &:focus {color: $accent-color};

    &:hover .contact-list__icon, 
    &:focus .contact-list__icon {color: $accent-color};
  }

  .contact-list__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: fill $transition-time $cubic-default;
  }