.list-item {
    width: 270px;
}

.list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: $secondary-text-color;
}


.list-text {
    line-height: 1.7;
    letter-spacing: 0.03em;
  }