
.main-section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $secondary-text-color;
  }

.benefits,
.clients,
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list,
.features-list,
.team__member-list,
.clients-list {
  display: flex;
  gap: 30px;
}