    $primary-text-color: #757575;
    $secondary-text-color: #212121;
    $accent-color: #2196f3;
    $primary-white-color: #ffffff;
    $primary-black-color: #000000;
    $footer-background-color: #2f303a;
    $footer-address-color: rgba(255, 255, 255, 0.6);
    $filter-background-color: #f5f4fa;
    $secondary-background-color: #f5f4fa;
    $transition-time: 250ms;
    $cubic-default: cubic-bezier(0.4, 0, 0.2, 1);
    $icons: 'antenna', 'clock', 'diagram', 'astronaut';